<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>Label</key><string>com.csweet.executionnode</string>
  <key>UserName</key><string>_csweetnode</string>
  <key>GroupName</key><string>_csweet</string>
  <key>ProgramArguments</key><array><string>/Library/Application Support/CSweet/Execution/CSweet.ExecutionNode</string></array>
  <key>EnvironmentVariables</key><dict>
    <key>CSweet__ExecutionNode__ControlPlaneUrl</key><string>__CONTROL_PLANE_URL__</string>
    <key>CSweet__ExecutionNode__StateDirectory</key><string>/Library/Application Support/CSweet/ExecutionNode</string>
    <key>CSweet__ExecutionNode__ArtifactCacheDirectory</key><string>/Library/Application Support/CSweet/ExecutionNode/artifact-cache</string>
    <key>CSweet__ExecutionNode__ArtifactMediaDirectory</key><string>/Library/Application Support/CSweet/ArtifactMedia</string>
    <key>CSweet__ExecutionNode__EnrollmentTokenFilePath</key><string>/Library/Application Support/CSweet/ExecutionNode/enrollment.secret</string>
    <key>CSweet__AgentRuntime__HostAuthentication__SharedKeyFilePath</key><string>/Library/Application Support/CSweet/AgentRuntime/runtime-host.key</string>
  </dict>
  <key>ProcessType</key><string>Background</string>
  <key>Umask</key><integer>27</integer>
  <key>RunAtLoad</key><true/><key>KeepAlive</key><true/>
</dict></plist>
